<ion-header>
  <ion-toolbar>
    <ion-title>consultar Usuário</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openHome()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="openHome()">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Consultar Usuário</h3>
          </div>
          <div padding>

            <ion-item>
              <ion-label>Escolha uma Filtro</ion-label>
              <ion-select #filter placeholder="Filtro" name="filter">
                <ion-select-option value="nome">Nome</ion-select-option>
                <ion-select-option value="cpf">CPF</ion-select-option>
                <ion-select-option value="email">E-mail</ion-select-option>
                <ion-select-option value="status">Situação</ion-select-option>
                <ion-select-option value="dataNascimento">Data de Nascimento</ion-select-option>
                <ion-select-option value="dataCadastro">Data de Cadastro</ion-select-option>
                <ion-select-option value="dataAlteracao">Data de alteração de Cadastro</ion-select-option>
                <ion-select-option value="faixaEtaria">Faixa Etária</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-card class="cardDate" *ngIf="filter.value==='dataCadastro'">
              <ion-card-content>
                <ion-grid>
                  <ion-label>Data Cadastro</ion-label>
                  <ion-row>
                    <ion-col size="5">
                      <ion-item class="inputRegister">
                        <ion-label position="stacked">Data Inicial</ion-label>
                        <ion-input #date name="dataInicial" type="date" placeholder="Data Inicial" ngModel required>
                        </ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col size="5">
                      <ion-item class="inputRegister">
                        <ion-label position="stacked">Data Final</ion-label>
                        <ion-input #date name="dataFinal" type="date" placeholder="Data Final" ngModel required>
                        </ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>

            <ion-card class="cardDate" *ngIf="filter.value==='dataAlteracao'">
              <ion-card-content>
                <ion-grid>
                  <ion-label>Data Alteração do Cadastro</ion-label>
                  <ion-row>
                    <ion-col size="5">
                      <ion-item class="inputRegister">
                        <ion-label position="stacked">Data Inicial</ion-label>
                        <ion-input #date name="dataInicial" type="date" placeholder="Data Inicial" ngModel required>
                        </ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col size="5">
                      <ion-item class="inputRegister">
                        <ion-label position="stacked">Data Final</ion-label>
                        <ion-input #date name="dataFinal" type="date" placeholder="Data Final" ngModel required>
                        </ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>

            <ion-card class="cardDate" *ngIf="filter.value==='dataNascimento'">
              <ion-card-content>
                <ion-grid>
                  <ion-label>Data Nacimento</ion-label>
                  <ion-row>
                    <ion-col size="5">
                      <ion-item class="inputRegister">
                        <ion-label position="stacked">Data Inicial</ion-label>
                        <ion-input #date name="dataInicial" type="date" placeholder="Data Inicial" ngModel required>
                        </ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col size="5">
                      <ion-item class="inputRegister">
                        <ion-label position="stacked">Data Final</ion-label>
                        <ion-input #date name="dataFinal" type="date" placeholder="Data Final" ngModel required>
                        </ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>

            <ion-card class="cardDate" *ngIf="filter.value==='nome'">
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                      <ion-item class="inputRegister">
                        <ion-label position="stacked">Nome</ion-label>
                        <ion-input name="name" type="text" placeholder="Nome" ngModel required></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>

            <ion-card class="cardDate" *ngIf="filter.value==='cpf'">
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                      <ion-item class="inputRegister">
                        <ion-label position="stacked">CPF</ion-label>
                        <ion-input name="cpf" type="text" placeholder="CPF" ngModel required></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>

            <ion-card class="cardDate" *ngIf="filter.value==='status'">
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col size="10">
                      <ion-item class="inputRegister">
                        <ion-label position="stacked">Situação</ion-label>
                        <ion-select #status name="status" placeholder="Situação">
                          <ion-select-option value="ativo">Ativo</ion-select-option>
                          <ion-select-option value="bloqueado">Bloqueado</ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>

            <ion-card class="cardDate" *ngIf="filter.value==='faixaEtaria'">
              <ion-card-content>
                <ion-grid>
                  <ion-row>
                    <ion-col size="10">
                      <ion-item class="inputRegister">
                        <ion-label position="stacked">Faixa Etária</ion-label>
                        <ion-select #faixaEtaria name="faixaEtaria" placeholder="Faixa Etária">
                          <ion-select-option value="18a26">Maior que 18 e menor que 26</ion-select-option>
                          <ion-select-option value="37a31">Maior que 27 e menor que 31</ion-select-option>
                          <ion-select-option value="32a36">Maior que 32 e menor que 36</ion-select-option>
                          <ion-select-option value="37a41">Maior que 37 e menor que 41</ion-select-option>
                          <ion-select-option value="maior41">Maior que 41</ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>

          </div>
          <div padding>
            <ion-button class="buttonRegister" shape="round" fill="solid" type="submit" [disabled]="form.invalid"
              expand="full">
              Consultar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-list class="listUser">
    <ion-card class="cardUsuer">
      <ion-card-content>
        <ion-grid class="gridUser">
          <ion-row>
            <ion-col size="5" class="boldTxt">Nome</ion-col>
            <ion-col size="7">user.nome</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" class="boldTxt">E-mail</ion-col>
            <ion-col size="7">user.email</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" class="boldTxt">Telefone</ion-col>
            <ion-col size="7">user.telefone</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" class="boldTxt">CPF</ion-col>
            <ion-col size="7">user.cpf</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" class="boldTxt">Data Nacimento</ion-col>
            <ion-col size="7">user.nome</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" class="boldTxt">Nome da Mãe</ion-col>
            <ion-col size="7">user.nomeMae</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-button expand="block" (click)="verUser()" icon-left color="primary">
                Ver Usuário
              </ion-button>
            </ion-col>
            <ion-col size="7">
              <ion-button expand="block" (click)="'BloquearUsuario'" icon-left color="primary">
                Bloquear Usuário
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-label></ion-label>
            <ion-col size="10" class="boldTxt">Bloquear Vários Usuários</ion-col>
            <ion-col size="2" class="userDescription">
              <ion-checkbox></ion-checkbox>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click)="openAddPage()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>