.buttonRegister {
  margin-top: 20px;
  color: #ffffff;
  font-weight: bold;
  --background: linear-gradient(
    to right,
    #3cbe00 20%,
    #54d154 51%,
    #28771d 100%
  );
  --box-shadow: 0 0 2em #38a33e;
  opacity: 1;
}

.inputRegister {
  margin-bottom: 5px;
}

h3 {
  color: #1baa2e;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}
