<ion-header>
  <ion-toolbar>
    <ion-title>Usuário</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openConsultarUser()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="listUser">
    <ion-card class="cardUsuer">
      <ion-card-content>
        <ion-grid class="gridUser">
          <ion-row>
            <ion-col size="5" class="boldTxt">Nome</ion-col>
            <ion-col size="7">user.nome</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" class="boldTxt">E-mail</ion-col>
            <ion-col size="7">user.email</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" class="boldTxt">Telefone</ion-col>
            <ion-col size="7">user.telefone</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" class="boldTxt">CPF</ion-col>
            <ion-col size="7">user.cpf</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" class="boldTxt">Data Nacimento</ion-col>
            <ion-col size="7">user.nome</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" class="boldTxt">Nome da Mãe</ion-col>
            <ion-col size="7">user.nomeMae</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" class="boldTxt">Data de Inclusão</ion-col>
            <ion-col size="7">user.dataAdd</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" class="boldTxt">Última Alteração</ion-col>
            <ion-col size="7">user.dataAlteracao</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5" class="boldTxt">Situação</ion-col>
            <ion-col size="7">user.status</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="block" (click)="'BloquearUsuario'" color="primary">
                Bloquear
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" (click)="openAlterarUser()" color="primary">
                Alterar
              </ion-button>
            </ion-col>
            <ion-col size="12">
              <ion-button expand="block" (click)="openAlterarSenha()" color="primary">
                Trocar Senha
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>