.buttonRegister {
  margin-top: 20px;
  color: #ffffff;
  font-weight: bold;
  --background: linear-gradient(
    to right,
    #3cbe00 20%,
    #54d154 51%,
    #28771d 100%
  );
  --box-shadow: 0 0 2em #38a33e;
  opacity: 1;
}

.inputRegister {
  margin-bottom: 5px;
}

h3 {
  color: #1baa2e;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

ion-card {
  ion-card-content {
    margin: auto;
    padding: 0;
    ion-grid {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}

.cardDate {
  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
  }
}

.iconSearch {
  display: flex;
  font-size: 25px;
  align-items: center;

  ion-icon {
    width: 100%;
  }
}

.listUser {
  background-color: #ffffff;
  padding: 1px;
  margin: 10px;
  box-shadow: 0 0 3em rgb(3, 63, 3);
  .cardUsuer {
    padding-bottom: 20px;
    color: var(--ion-color-warning-contrast);
    font-size: 14px;
  }
  .gridUser {
    background-color: #ffffff;
  }
}
