<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openHome()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content padding>
    <form #form="ngForm" (ngSubmit)="openHome()">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h3>Login</h3>
            </div>
            <div padding>
              <ion-item class="inputRegister">
                <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
              </ion-item>
              <ion-item class="inputRegister">
                <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
              </ion-item>
            </div>
            <div padding>
              <ion-button class="buttonRegister" shape="round" fill="solid" type="submit" [disabled]="form.invalid"
                expand="full">Entrar</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
</ion-content>