<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Alterar Usuário</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openUser()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="openUser()">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Cadastrar Novo Usuário</h3>
          </div>
          <div padding>

            <ion-item class="inputRegister">
              <ion-label position="stacked">Nome</ion-label>
              <ion-input name="name" type="text" placeholder="Nome" ngModel required></ion-input>
            </ion-item>
            <ion-item class="inputRegister">
              <ion-label position="stacked">E-mail</ion-label>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item class="inputRegister">
              <ion-label position="stacked">CPF</ion-label>
              <ion-input name="cpf" type="text" placeholder="CPF" ngModel required></ion-input>
            </ion-item>
            <ion-item class="inputRegister">
              <ion-label position="stacked">Telefone</ion-label>
              <ion-input name="telefone" type="text" placeholder="DDD 00000-0000" ngModel required></ion-input>
            </ion-item>
            <ion-item class="inputRegister">
              <ion-label position="stacked">Data de Nascimento</ion-label>
              <ion-input name="dataNascimento" type="date" placeholder="Data de Nascimento" ngModel required>
              </ion-input>
            </ion-item>
            <ion-item class="inputRegister">
              <ion-label position="stacked">Nome da Mãe</ion-label>
              <ion-input name="nomeMae" type="text" placeholder="Nome da Mãe" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button class="buttonRegister" shape="round" fill="solid" type="submit" [disabled]="form.invalid"
              expand="full">
              Alterar Usuário</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>