<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Alterar Senha</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openUser()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="openUser()">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Senha Atual</ion-label>
            <ion-input type="password" placeholder="Senha Atual" name="senhaAtual"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Nova Senha</ion-label>
            <ion-input type="password" placeholder="Nova Senha" name="novaSenha"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="stacked">Confirmação da Senha</ion-label>
            <ion-input type="password" placeholder="Confirmação da Senha" name="confirmacao"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-button color="primary" expand="block" type="submit">CONFIRMAR</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="primary" expand="block" type="button" (click)="''" fill="outline">
            CANCELAR
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>