ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #e90a0a;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.capitalize {
  color: #e90a0a;
}

ion-toolbar {
  display: flex;

  ion-title {
    text-align: center;
  }
}

.buttonEntrar {
  font-weight: bold;
  color: white;
  font-size: 1.1rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right,
    #1d976c 0%,
    #68df94 51%,
    #1d976c 100%
  );
}

.buttonEntrar {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 4px;
  display: block;
}

.buttonRegistrar {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
