<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button class="buttonEntrar" (click)="openLogin()"> ENTRAR </ion-button>
    </ion-buttons>
    <!--(click)="toLogin(false)"  *ngIf="!this.us.usuario.id" -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">UsersApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">UsersApp</strong>
    <p>
      Olá!
      <a target="_blank" rel="noopener noreferrer" href="https://www.ferreiracosta.com/">Sejam Bem Vindos!</a>
    </p>
  </div>
</ion-content>